.messageContainer {
    color: white;
    width: 100%;
    background-color: #313338;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;

}

.messageList {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 130px);
    overflow-x: hidden;
    word-wrap: break-word;
    overflow-wrap: break-word;
    scrollbar-color: black;

}

.messageList::-webkit-scrollbar {
    width: 0.5rem;
}

.messageList::-webkit-scrollbar-track {
    background: inherit;

}

.messageList::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 4px;

}

.messageList::-webkit-scrollbar-thumb:hover {
    background: #222;
    /* Darker color when hovered */
}

.messageList::-webkit-scrollbar-thumb:hover {
    background: darkgrey;

}

.messageList>:first-child {
    margin-top: auto !important
}

.message {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    white-space: pre-wrap;
    max-width: 100%;
    overflow: hidden;
    gap: 0.3rem;
}

.inputContainer {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #313338;
    flex-shrink: 0;
}


.messageCard {
    padding: 0 1rem;
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.messageContainer form {
    width: 100%;
    display: flex;
    align-items: center;
}

.avatar {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrollToBottom {
    border-radius: 1rem;
    padding: 0.5rem 0.3rem;
    width: 50%;
    align-self: center;
    color: white;
    border: none;
    font-weight: bold;
    background: #682bd7;
    transition: background 0.2s ease-in-out;
    margin-top: 1rem;
}

.scrollToBottom:hover {
    background: #a37cf0;
}

.scrollToBottom button:active {
    transform: scale(0.95);
}

input {
    background-color: #373a40;
    min-height: 5vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    color: #fff;
    border-radius: 1rem;
    font-size: 0.9rem;
}

.messageInfo {
    padding-bottom: 0.1rem;
}



@media (max-width: 1780px) {
    .messageContainer {
        padding: 0;
    }

}