.messageContainer {
    color: white;
    width: 100%;
    background-color: #313338;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.messageHeader {
    position: sticky;
    top: 0;
    padding: 10px;
    text-align: left;
    font-weight: bold;
    z-index: 10;
    border-bottom: 1px solid #444;
    background-color: #313338;

}

.messageContent {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
    flex-grow: 1;
    max-height: calc(100vh - 130px);

}

.messageContent>:first-child {
    margin-top: auto !important
}

.inputContainer {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #313338;
    flex-shrink: 0;
}


.messageCard {
    padding: 0 3rem;
    margin: 0.5rem 0;
}

form {
    width: 100%;
    display: flex;
    align-items: center;
}

input {
    background-color: #373a40;
    min-height: 5vh;
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 3rem;
    margin: 1rem 1rem;
    border: none;
    color: #fff;
    border-radius: 1rem;
    font-size: 0.9rem;

}


@media (max-width: 768px) {
    .messageContainer {
        padding: 0;
    }

    button {
        padding: 0 12px;
    }
}