.channelContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #2b2d30;
    color: #b6bbc2;
    font-weight: bold;
    overflow-y: auto;
    text-wrap: nowrap;
    flex-shrink: 0;
    padding: 0 0.5rem;
    overflow: hidden;

}

.channel {
    padding: 0.6rem 1rem;
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.channel:hover {
    background-color: #525558;
    color: #ced6e0;
}

.channelContainer .userContainer {
    display: flex;
    flex-direction: row;
    margin: auto 1rem 1rem 1rem;
    padding: 1rem 0;
}

.userContainer button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 0.5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: #682bd7;
    transition: background 0.2s ease-in-out;
}

.userContainer button:hover {
    background: #a37cf0;
}

.userContainer button:active {
    transform: scale(0.95);
}



.username {
    margin: auto;
}