.channel {
    padding: 0.6rem 1rem;
    display: block;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
}

.channel:hover {
    background-color: #525558;
    color: #ced6e0;
}

.channelContainer .userInfo {
    display: flex;
    flex-direction: row;
    margin: auto 1rem 1rem 1rem;
    padding: 1rem 0;
}

.userInfo button {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    margin: 0 0.5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    background: #682bd7;
    transition: background 0.2s ease-in-out;
}

.userInfo button:hover {
    background: #a37cf0;
}

.userInfo button:active {
    transform: scale(0.95);
}

.username {
    margin: auto;
}

@media (max-width: 1780px) {
    .channelContainer .userInfo {
        flex-direction: column;
        gap: 0.2rem;

    }

    .userInfo button {
        padding: 0.3rem 0.5rem;
        font-size: 0.9rem;
        margin: 0;

    }

    .username {
        font-size: 0.9rem;
    }

    .channel {
        font-size: 0.9rem;
    }


}